[submodule "ErythrinaCore"]
    path = npc
    url = git@github.com:ChrisYzcc/ErythrinaCore.git

[submodule "fceux-am"]
    path = fceux-am
    url = git@github.com:NJU-ProjectN/fceux-am.git

[submodule "rt-thread"]
    path = rt-thread-am
    url = git@github.com:ChrisYzcc/rt-thread-am.git

[submodule "soc"]
    path = soc
    url = git@github.com:ChrisYzcc/ErythrinaSoc.git
    branch = dev-yzc